.App {
  --app-top-bar-height: 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.app-main-area {
  flex: 1;
  position: relative;
  min-height: 0;
  width: 100%;
}
