.map-container {
  width: 100vw;
  height: 100vh;
  /* height: calc(100vh - 100px); /* Use this when I want to add stuff at the bottom*/
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.marker {
  background-color: white;
  border: 2px solid black;
  /* color: white; */
  padding: 5px;
  /* text-align: center; */
  /* text-decoration: none; */
  display: inline-block;
  /* font-size: 16px; */
  /* margin: 4px 2px; */
  border-radius: 50%;
}

.marker-popup-btn {
  margin: 5px;
  background-color: rgba(51, 51, 51, 0.1);
  border-radius: 8px;
  border-width: 0;
  color: #303030;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 12px;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}